footer {
  .center-flex(center, center);
  width: 100%;
  background-color: #272727;
  border-bottom: 30px solid #383838;
  nav {
    padding: 1.5% 0;
    width: 40%;
    .center-flex(space-between, center);
    a {
      .nav-buttons();
      font-size: 1.5rem;
    }
  }
}
