.center-flex(@justify, @align) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.nav-buttons() {
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: @font-color;
  font-family: @heading-font;
  min-width: 30%;
  max-width: 160px;
  transition-property: color, letter-spacing;
  transition-duration: 1s;

  @media @desktop {
    font-size: 1.8rem;
  }

  @media @mid-point {
    font-size: 1.6rem;
  }

  @media @mobile {
    font-size: 1.8rem;
  }

  @media @small-phone {
    font-size: 1.5rem;
  }

  &:hover {
    color: lighten(@font-color, 40%);
    letter-spacing: 2px;

    @media @mid-point {
      letter-spacing: 1.5px;
    }

    @media @mobile {
      letter-spacing: 1.3px;
    }
  }
}

.button-style(@bg-color, @btn-width, @btn-padding: 4%) {
  background-color: @bg-color;
  width: @btn-width;
  padding: @btn-padding;
  color: @font-color;
  font-size: 2rem;
  text-align: center;
  border-radius: 15px;
  margin: 0 auto;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 1s;

  @media @tablet {
    font-size: 1.7rem;
  }

  @media @mobile {
    font-size: 1.9rem;
  }

  @media @small-phone {
    font-size: 1.7rem;
  }

  &:hover {
    background-color: darken(@bg-color, 10%);
  }
}
